@using NoteAppMVCPattern.Models.ViewModel;
@model NoteFooterVM;
<!-- CSRF Token form -->
<form id="csrfForm" style="display:none;">
    @Html.AntiForgeryToken()
</form>

<div class="card position-relative">   
    <div class="position-absolute top-0 end-0 m-0">
    <button type="button" class="btn btn" data-bs-toggle="dropdown">
        <i class="@Model.IconClass"></i>
    </button>   
    <div class="dropdown-menu dropdown-menu-end">
            <form asp-action="MarkAsDone" asp-route-noteId="@Model.Note.Id" method="post" class="d-inline">
                <button type="submit" class="dropdown-item">
                    <i class="bi bi-check-lg"></i> Yapıldı
                </button>
            </form>                       
            <form asp-action="MarkAsToDo" asp-route-noteId="@Model.Note.Id" method="post" class="d-inline">
                <button type="submit" class="dropdown-item">
                    <i class="bi bi-hourglass-split"></i> Yapılacak
                </button>
            </form>
            <form asp-action="MarkAsPlanned" asp-route-noteId="@Model.Note.Id" method="post" class="d-inline">
                <button type="submit" class="dropdown-item">
                    <i class="bi bi-clock-history"></i> Planlandı
                </button>
            </form>
    </div>

    </div>
</div>
@section Scripts{
<script>

</script>
}
