@using NoteAppMVCPattern.Models.Enums;
@model NoteAppMVCPattern.Models.Note
{
<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content p-3">

            <div class="d-flex flex-wrap gap-2">
                @{var availableTags = Model.Tags
                .OrderByDescending(t=> t.TagUsageCount)
                .ToList();
                
            @foreach (var tag in availableTags)
            {
                <span class="badge @tag.TagColor">@tag.TagName</span>
            }
            }
            </div>
                <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">@Model.Title</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                @Model.Content
            </div>

            <!-- Modal footer -->
            <div class="modal-footer justify-content-between align-items-center">
                <div>
                    @{
                        if (Model.Status != NoteStatus.None)
                        {
                            <h5>@Model.StatusName</h5>
                            if (Model.Status == NoteStatus.Planned)
                            {
                                <h5>Model.PlannedDate</h5>
                            }
                        }
                    }
                    <h6>@Model.CreateDate.ToLongDateString()</h6> 
                    <h6>@Model.CreateDate.ToLongTimeString()</h6>
                </div>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
}